{% extends "base.html" %}

{% block content %}


<button class="logout"><a style="color:rgb(6, 7, 8); text-decoration: none; font-weight: bold;font-size: 14px;" href="{% url 'admin_logout'%}">Logout</a></button>

<div class="main_form">
	<h1>Add Data</h1>
	<form action="{% url 'bus:add_data'%}" method="POST">
		{% csrf_token %}

		<input type="text" placeholder="Bus Name" autofocus>
		<br>
		<input type="text" placeholder="Bus Number">
		<br>

		<br>
		<input type="submit" value="Add Data">
	</form>
</div>
{% endblock content %}