{% extends "base.html" %}
{% load static %}
{% block content %}

<script src="{% static 'js/main.js' %}"></script>

<div class="add_data_div">
	<button class="logout"><a class="for_a" href="{% url 'bus:admin_logout'%}">Logout</a></button>
	<div class="add_data">
		<h1>Add Data</h1>
		<p>{{success_message}}</p>
		<form action="{% url 'bus:add_data'%}" method="POST">
			{% csrf_token %}

			<div style="text-align: left;">
				<input type="text" name="bus_name" placeholder="Bus Name" autofocus>
				<br>
				<input type="text" name="bus_number" placeholder="Bus Number">
				<br>

				<div>
					<input type="text" name="station1" placeholder="station1">
					<input type="time" name="time1" value="00:00">
				</div>
				<div>
					<input type="text" name="station2" placeholder="station2">
					<input type="time" name="time2" value="00:00">
				</div>
				<div>
					<input type="text" name="station3" placeholder="station3">
					<input type="time" name="time3" value="00:00">
					<button id="btn_add_more" type="button" onclick="add_more()">add more +</button>
				</div>

				<div id="add_more">
					<div>
						<input type="text" name="station4" placeholder="station4">
						<input type="time" name="time1" value="00:00">
					</div>
					<div>
						<input type="text" name="station5" placeholder="station5">
						<input type="time" name="time2" value="00:00">
					</div>
					<div>
						<input type="text" name="station6" placeholder="station6">
						<input type="time" name="time3" value="00:00">
					</div>
				</div>
			</div>

			<br>
			<button style="text-align: center; font-size: 14px;" type="submit">Save</button>

		</form>
	</div>
</div>
{% endblock content %}