<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <link rel="shortcut icon" type="image" href="{% static 'logo_mal.png' %}" />
        <title>ADUTHA_BUS</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
     <div id="full_page">
            {% block content %}
        {% endblock content %}
<div class="footer" align="center">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div >
            <div class="icon">
                    <a href="#" class="fa fa-facebook"></a>
                
            
                    <a href="#" class="fa fa-instagram"></a>
                
           
                    <a href="#" class="fa fa-twitter"></a>
                
            </div>
            <div>
                
                <h5>Adutha Bus  &copy; 2019</h5>
            </div>
            
        </div>

    
</div>
    
     </div>
    </body>

</html>