{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/bus_details.css' %}">

{% if bus%}
<table>
	<tr>
		<th>BUS NAME :</th>
		<th>{{bus.bus_name}}</th>
	</tr>

	{% if bus.st_1 %}
	<tr>
		<td>{{bus.st_1}}</td>
		<td>{{bus.t_1}}</td>

	</tr>
	{% endif%}
	{% if bus.st_2 %}
	<tr>
		<td>{{bus.st_2}}</td>
		<td>{{bus.t_2}}</td>

	</tr>
	{% endif%}
	{% if bus.st_3 %}
	<tr>
		<td>{{bus.st_3}}</td>
		<td>{{bus.t_3}}</td>

	</tr>
	{% endif%}
	{% if bus.st_4 %}
	<tr>
		<td>{{bus.st_4}}</td>
		<td>{{bus.t_4}}</td>

	</tr>
	{% endif%}
	{% if bus.st_5 %}
	<tr>
		<td>{{bus.st_5}}</td>
		<td>{{bus.t_5}}</td>

	</tr>
	{% endif%}
	{% if bus.st_6 %}
	<tr>
		<td>{{bus.st_6}}</td>
		<td>{{bus.t_6}}</td>

	</tr>
	{% endif%}
</table>
{% else %}

<p> data is unavilable</p>
{% endif %}


{% endblock content %}