{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/bus_details.css' %}">
<div class="logo" align="center">
		<img src="{% static 'logo_mal.png' %}" alt="My image" height="150px">
	</div>
{% if bus%}
<table class="container">
	<tr id="bus_name" >
		<th colspan="2"><h1>BUS NAME :    {{bus.bus_name|upper}}</h1></th>
	</tr>
	<tr id="heading">
		<td style="color:black; font-weight:bold;">BUS STAND</td>
		<td style="color:black; font-weight:bold;">TIME</td>

	</tr>
	{% if bus.st_1 %}
	<tr class="row">
		<td>{{bus.st_1|upper}}</td>
		<td>{{bus.t_1|time|upper}}</td>

	</tr>
	{% endif%}
	{% if bus.st_2 %}
	<tr class="row">
		<td>{{bus.st_2|upper}}</td>
		<td>{{bus.t_2|time|upper}}</td>

	</tr>
	{% endif%}
	{% if bus.st_3 %}
	<tr class="row">
		<td>{{bus.st_3|upper}}</td>
		<td>{{bus.t_3|time|upper}}</td>

	</tr>
	{% endif%}
	{% if bus.st_4 %}
	<tr class="row">
		<td>{{bus.st_4|upper}}</td>
		<td>{{bus.t_4|time|upper}}</td>

	</tr>
	{% endif%}
	{% if bus.st_5 %}
	<tr class="row">
		<td>{{bus.st_5|upper}}</td>
		<td>{{bus.t_5|time|upper}}</td>

	</tr>
	{% endif%}
	{% if bus.st_6 %}
	<tr class="row">
		<td>{{bus.st_6|upper}}</td>
		<td>{{bus.t_6|time|upper}}</td>

	</tr>
	{% endif%}
</table>
{% else %}

<p> data is unavilable</p>
{% endif %}




{% endblock content %}


