{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="table">
    <link rel="stylesheet" href="{% static 'css/bus_details.css' %}">

    <div class="logo" align="center">
        <img src="{% static 'logo_mal.png' %}" alt="My image" height="150px">
    </div>
      
      {% if d%}
      <table class="container">
        <tr>
          <th>BUS NAME</th>
          <th>{{s}}</th> 
          <th>{{r}}</th>
        </tr>
      
        {% for i in d  %}
      
         <tr class="row" onclick="window.location='/bus_details/{{i.b_id}}/';">
          <td>{{i.b_name|upper}}</td>
          <td>{{i.s_time|time|upper}}</td> 
          <td>{{i.r_time|time|upper}}</td>
        </tr>
        {% endfor %}
        
        </table>
        {% else %}
      
        <div align="center">
            <h1> data is unavilable</h1>
        </div>
        {% endif %}
      
      
    {% endblock content %}



   
</div>


