body {
	/* background-image: src("{% static 'backgroung_image.jpg' %} ") */
	background: url('/static/background_image.jpg') no-repeat center center fixed; 

	background-size: cover;
}

.main_form {
	display: inline-block;
	position: fixed;
	text-align: center;
	width: 200px;
	height: 300px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 0, 0.432);
	padding: 50px;
	border-radius: 20px;

	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
	margin: 10px;
	padding: 10px;
	font-size: 12px;
	border-radius: 50px;
}

button {
	padding: 10px;
	padding-left:20px;
	padding-right: 20px; 
	background-color: rgb(1, 1, 77);
	border-radius: 5px;
	color: aliceblue;

	border: none;


	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

button:hover {
	background-color: rgba(2, 2, 209, 0.459);
}

.logout{
	float: right; background-color: rgba(255, 217, 0, 0.459);
}

.add_data {
	display: inline-block;
	position: relative;
	text-align: left;
	float: center;
	
	width: auto;
	height: auto;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 0, 0.432);
	padding: 50px;
	border-radius: 20px;

	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

